In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser

In [3]:
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

True

In [4]:
df1 = pd.read_clipboard()

In [5]:
df1

    Format     Type          Data     Description        Reader     Writer
0     text      CSV      read_csv          to_csv          None       None
1     text     JSON     read_json         to_json          None       None
2     text     HTML     read_html         to_html          None       None
3     text    Local     clipboard  read_clipboard  to_clipboard       None
4   binary       MS         Excel      read_excel      to_excel       None
5   binary     HDF5        Format        read_hdf        to_hdf       None
6   binary  Feather        Format    read_feather    to_feather       None
7   binary  Msgpack  read_msgpack      to_msgpack          None       None
8   binary    Stata    read_stata        to_stata          None       None
9   binary      SAS      read_sas            None          None       None
10  binary   Python        Pickle          Format   read_pickle  to_pickle
11     SQL      SQL      read_sql          to_sql          None       None
12     SQL   Google           Big           Query      read_gbq     to_gbq

In [6]:
df1.to_csv('df1.csv', index=False)

In [7]:
!ls

Dataframe IO.ipynb                   df1.csv
Dataframe.ipynb                      深入理解Series和Dataframe.ipynb
Series.ipynb

In [8]:
!more df1.csv

Format,Type,Data,Description,Reader,Writer
text,CSV,read_csv,to_csv,,
text,JSON,read_json,to_json,,
text,HTML,read_html,to_html,,
text,Local,clipboard,read_clipboard,to_clipboard,
binary,MS,Excel,read_excel,to_excel,
binary,HDF5,Format,read_hdf,to_hdf,
binary,Feather,Format,read_feather,to_feather,
binary,Msgpack,read_msgpack,to_msgpack,,
binary,Stata,read_stata,to_stata,,
binary,SAS,read_sas,,,
binary,Python,Pickle,Format,read_pickle,to_pickle
SQL,SQL,read_sql,to_sql,,
SQL,Google,Big,Query,read_gbq,to_gbq
>v (END)

In [9]:
df2 = pd.read_csv('df1.csv')

In [10]:
df2

    Format     Type          Data     Description        Reader     Writer
0     text      CSV      read_csv          to_csv           NaN        NaN
1     text     JSON     read_json         to_json           NaN        NaN
2     text     HTML     read_html         to_html           NaN        NaN
3     text    Local     clipboard  read_clipboard  to_clipboard        NaN
4   binary       MS         Excel      read_excel      to_excel        NaN
5   binary     HDF5        Format        read_hdf        to_hdf        NaN
6   binary  Feather        Format    read_feather    to_feather        NaN
7   binary  Msgpack  read_msgpack      to_msgpack           NaN        NaN
8   binary    Stata    read_stata        to_stata           NaN        NaN
9   binary      SAS      read_sas             NaN           NaN        NaN
10  binary   Python        Pickle          Format   read_pickle  to_pickle
11     SQL      SQL      read_sql          to_sql           NaN        NaN
12     SQL   Google           Big           Query      read_gbq     to_gbq

In [11]:
df1.to_json()

'{"Format":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"SQL","12":"SQL"},"Type":{"0":"CSV","1":"JSON","2":"HTML","3":"Local","4":"MS","5":"HDF5","6":"Feather","7":"Msgpack","8":"Stata","9":"SAS","10":"Python","11":"SQL","12":"Google"},"Data":{"0":"read_csv","1":"read_json","2":"read_html","3":"clipboard","4":"Excel","5":"Format","6":"Format","7":"read_msgpack","8":"read_stata","9":"read_sas","10":"Pickle","11":"read_sql","12":"Big"},"Description":{"0":"to_csv","1":"to_json","2":"to_html","3":"read_clipboard","4":"read_excel","5":"read_hdf","6":"read_feather","7":"to_msgpack","8":"to_stata","9":null,"10":"Format","11":"to_sql","12":"Query"},"Reader":{"0":null,"1":null,"2":null,"3":"to_clipboard","4":"to_excel","5":"to_hdf","6":"to_feather","7":null,"8":null,"9":null,"10":"read_pickle","11":null,"12":"read_gbq"},"Writer":{"0":null,"1":null,"2":null,"3":null,"4":null,"5":null,"6":null,"7":null,"8":null,"9":null,"10":"to_pickle","11":null,"12":"to_gbq"}}'

In [12]:
pd.read_json(df1.to_json())

    Format     Type          Data     Description        Reader     Writer
0     text      CSV      read_csv          to_csv          None       None
1     text     JSON     read_json         to_json          None       None
10  binary   Python        Pickle          Format   read_pickle  to_pickle
11     SQL      SQL      read_sql          to_sql          None       None
12     SQL   Google           Big           Query      read_gbq     to_gbq
2     text     HTML     read_html         to_html          None       None
3     text    Local     clipboard  read_clipboard  to_clipboard       None
4   binary       MS         Excel      read_excel      to_excel       None
5   binary     HDF5        Format        read_hdf        to_hdf       None
6   binary  Feather        Format    read_feather    to_feather       None
7   binary  Msgpack  read_msgpack      to_msgpack          None       None
8   binary    Stata    read_stata        to_stata          None       None
9   binary      SAS      read_sas            None          None       None

In [13]:
df1.to_html('df1.html')

In [14]:
!ls

Dataframe IO.ipynb                   df1.csv
Dataframe.ipynb                      df1.html
Series.ipynb                         深入理解Series和Dataframe.ipynb

In [15]:
df1.to_excel('df1.xlsx')

In [16]:
!ls

Dataframe IO.ipynb                   df1.html
Dataframe.ipynb                      df1.xlsx
Series.ipynb                         深入理解Series和Dataframe.ipynb
df1.csv

In [17]:
df1

    Format     Type          Data     Description        Reader     Writer
0     text      CSV      read_csv          to_csv          None       None
1     text     JSON     read_json         to_json          None       None
2     text     HTML     read_html         to_html          None       None
3     text    Local     clipboard  read_clipboard  to_clipboard       None
4   binary       MS         Excel      read_excel      to_excel       None
5   binary     HDF5        Format        read_hdf        to_hdf       None
6   binary  Feather        Format    read_feather    to_feather       None
7   binary  Msgpack  read_msgpack      to_msgpack          None       None
8   binary    Stata    read_stata        to_stata          None       None
9   binary      SAS      read_sas            None          None       None
10  binary   Python        Pickle          Format   read_pickle  to_pickle
11     SQL      SQL      read_sql          to_sql          None       None
12     SQL   Google           Big           Query      read_gbq     to_gbq