In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
!pwd

/Users/hui/Desktop/Math/数据分析/数据分析/Data-Analyse/基础数据库/Pandas

In [3]:
imdb = pd.read_csv('./movie_metadata.csv')

In [4]:
imdb.shape

(5043, 28)

In [5]:
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
imdb[['color','director_name']]

                 color       director_name
0                Color       James Cameron
1                Color      Gore Verbinski
2                Color          Sam Mendes
3                Color   Christopher Nolan
4                  NaN         Doug Walker
5                Color      Andrew Stanton
6                Color           Sam Raimi
7                Color        Nathan Greno
8                Color         Joss Whedon
9                Color         David Yates
10               Color         Zack Snyder
11               Color        Bryan Singer
12               Color        Marc Forster
13               Color      Gore Verbinski
14               Color      Gore Verbinski
15               Color         Zack Snyder
16               Color      Andrew Adamson
17               Color         Joss Whedon
18               Color        Rob Marshall
19               Color    Barry Sonnenfeld
20               Color       Peter Jackson
21               Color           Marc Webb
22               Color        Ridley Scott
23               Color       Peter Jackson
24               Color         Chris Weitz
25               Color       Peter Jackson
26               Color       James Cameron
27               Color       Anthony Russo
28               Color          Peter Berg
29               Color     Colin Trevorrow
...                ...                 ...
5013             Color          Eric Eason
5014             Color            Uwe Boll
5015   Black and White   Richard Linklater
5016             Color     Joseph Mazzella
5017             Color        Travis Legge
5018             Color       Alex Kendrick
5019             Color       Marcus Nispel
5020               NaN     Brandon Landers
5021             Color         Jay Duplass
5022   Black and White          Jim Chuchu
5023             Color          Daryl Wein
5024             Color         Jason Trost
5025             Color         John Waters
5026             Color     Olivier Assayas
5027             Color        Jafar Panahi
5028   Black and White       Ivan Kavanagh
5029             Color    Kiyoshi Kurosawa
5030             Color        Tadeo Garcia
5031             Color  Thomas L. Phillips
5032             Color     Ash Baron-Cohen
5033             Color       Shane Carruth
5034             Color    Neill Dela Llana
5035             Color    Robert Rodriguez
5036             Color     Anthony Vallone
5037             Color        Edward Burns
5038             Color         Scott Smith
5039             Color                 NaN
5040             Color    Benjamin Roberds
5041             Color         Daniel Hsia
5042             Color            Jon Gunn

[5043 rows x 2 columns]

In [7]:
sub_df = imdb[['director_name', 'movie_title','imdb_score']]

In [8]:
sub_df.head(5)

,director_name,movie_title,imdb_score
0,James Cameron,Avatar,7.9
1,Gore Verbinski,Pirates of the Caribbean: At World's End,7.1
2,Sam Mendes,Spectre,6.8
3,Christopher Nolan,The Dark Knight Rises,8.5
4,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,7.1

In [9]:
tmp_df = sub_df.iloc[10:20,0:2]
tmp_df

       director_name                                   movie_title
10       Zack Snyder           Batman v Superman: Dawn of Justice
11      Bryan Singer                             Superman Returns
12      Marc Forster                            Quantum of Solace
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest
14    Gore Verbinski                              The Lone Ranger
15       Zack Snyder                                 Man of Steel
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian
17       Joss Whedon                                 The Avengers
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides
19  Barry Sonnenfeld                               Men in Black 3

In [11]:
tmp_df.iloc[2:4,:]

     director_name                                  movie_title
12    Marc Forster                           Quantum of Solace
13  Gore Verbinski  Pirates of the Caribbean: Dead Man's Chest

In [12]:
tmp_df.loc[15:17,:'director_name']

     director_name
15     Zack Snyder
16  Andrew Adamson
17     Joss Whedon